In [1]:
import pandas as pd
import numpy as np

Load Dataset

In [2]:
dataset = pd.read_csv('Titanic.csv')

Summarize Dataset

In [3]:
print(dataset.shape)

(418, 5)

In [4]:
print(dataset.head(5))

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  34.5   7.8292
1         1       3  female  47.0   7.0000
2         0       2    male  62.0   9.6875
3         0       3    male  27.0   8.6625
4         1       3  female  22.0  12.2875

Mapping Text Data to Binary Value

In [5]:
income_set = set(dataset['Sex'])
dataset['Sex'] = dataset['Sex'].map({'female':0, 'male':1}).astype(int)

In [6]:
print(dataset.head)

<bound method NDFrame.head of      Survived  Pclass  Sex   Age      Fare
0           0       3    1  34.5    7.8292
1           1       3    0  47.0    7.0000
2           0       2    1  62.0    9.6875
3           0       3    1  27.0    8.6625
4           1       3    0  22.0   12.2875
..        ...     ...  ...   ...       ...
413         0       3    1   NaN    8.0500
414         1       1    0  39.0  108.9000
415         0       3    1  38.5    7.2500
416         0       3    1   NaN    8.0500
417         0       3    1   NaN   22.3583

[418 rows x 5 columns]>

Segregate Dataset into X(Input/IndependentVariable) & Y(Output/DependentVariable)

In [7]:
X = dataset.drop('Survived',axis='columns')
X

     Pclass  Sex   Age      Fare
0         3    1  34.5    7.8292
1         3    0  47.0    7.0000
2         2    1  62.0    9.6875
3         3    1  27.0    8.6625
4         3    0  22.0   12.2875
..      ...  ...   ...       ...
413       3    1   NaN    8.0500
414       1    0  39.0  108.9000
415       3    1  38.5    7.2500
416       3    1   NaN    8.0500
417       3    1   NaN   22.3583

[418 rows x 4 columns]

In [8]:
Y = dataset.Survived
Y

0      0
1      1
2      0
3      0
4      1
      ..
413    0
414    1
415    0
416    0
417    0
Name: Survived, Length: 418, dtype: int64

Finding & Removing NA values from our Features X

In [9]:
X.columns[X.isna().any()]

Index(['Age', 'Fare'], dtype='object')

In [10]:
X.Age = X.Age.fillna(X.Age.mean())

Test again to Check any na value

In [11]:
X.columns[X.isna().any()]

Index(['Fare'], dtype='object')

In [12]:
X.Fare = X.Fare.fillna(X.Fare.mean())

Splitting Dataset Into Train & Test

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.25, random_state=0)

Training

In [14]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train, y_train)

GaussianNB()

Predicting, Wheather Person Survived or Not

In [15]:
pclassNo = int(input("Enter Person's Pclass number: "))
gender = int(input("Enter Person's Gender 0-female 1-male(0 or 1): "))
age = int(input("Enter Person's Age: "))
fare = float(input("Enter Person's Fare: "))
person = [[pclassNo, gender, age, fare]]
result = model.predict(person)
print(result)

if result == 1:
    print("Person might be survived")
else:
    print("Person might  not be survived")

Enter Person's Pclass number: 2
Enter Person's Gender 0-female 1-male(0 or 1): 0
Enter Person's Age: 45
Enter Person's Fare: 8.55
[1]
Person might be survived

C:\Users\HP\anaconda3\New folder\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(

Prediction for all Test Data

In [16]:
y_pred = model.predict(X_test)
print(np.column_stack((y_pred,y_test)))

[[0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]]

Accuracy of our Model

In [17]:
from sklearn.metrics import accuracy_score
print("Accuracy of the Model: {0}".format(accuracy_score(y_test, y_pred)*100))

Accuracy of the Model: 100.0